**/bin/**
**/obj/**
/*.suo
/packages/Plainion.Core.2.1.0.0/
/packages/Plainion.Windows.1.4.0.0
/packages/Plainion.Prism.1.4.0.0/
/packages/Plainion.AppFw.Shell.1.0.0.0/
/packages/Prism.Mvvm.1.1.1
/packages/Plainion.Windows.1.11.0.0
/packages/Expression.Blend.Sdk.1.0.2
/packages/Plainion.Core.2.4.0.0
/packages/Plainion.AppFw.Shell.1.2.0.0
/packages/LibGit2Sharp.0.21.0.176
/packages/Plainion.Core.2.6.0.0
